#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.login-container {
  background-color: #9fc5f8;
  padding: 50px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-title {
  color: rgb(0, 0, 0);
  text-align: left;
  font-weight: bold;
  padding-left: 0px;
  padding-top: 0px;
  font-size: large;
}
.login-header {
  color: rgb(0, 0, 0);
  text-align: left;
  font-weight: normal;
  padding-left: 25px;
  font-size: medium;
}